<ng-container *ngFor="let primary_category of categories">
  <div
    class="category primary-category"
    (click)="filterByCategory(primary_category.id)"
  >
    <span>{{ primary_category.name }}</span>
    <span>{{ primary_category.matched_product_number}}</span>
  </div>
  <ng-container *ngIf="primary_category.secondary_categories">
    <div
      class="category secondary-category"
      *ngFor="let secondary_category of primary_category.secondary_categories"
      (click)="filterByCategory(secondary_category.id)"
    >
    <span>{{ secondary_category.name }}</span>
    <span>{{ secondary_category.matched_product_number}}</span>
    </div>
  </ng-container>
</ng-container>