<div class="products-navi">
  <ng-container *ngFor="let primary_category of categories">
    <div
      class="category primary-category"
      (click)="filterByCategory(primary_category.id)"
    >
      {{ primary_category.name }}
    </div>
    <ng-container *ngIf="primary_category.secondary_categories">
      <div
        class="category secondary-category"
        *ngFor="let secondary_category of primary_category.secondary_categories"
        (click)="filterByCategory(secondary_category.id)"
      >
        {{ secondary_category.name }}
      </div>
    </ng-container>
  </ng-container>
</div>
